@model List<RentACarProject.CQRS.Results.GetCarQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Araçlar Listesi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                          Araç Resmi
                            </th>
                            <th>
                               Araç Marka 
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                               Araç Km
                            </th>
                            <th> 
                             Günlük Fiyat
                            </th> 
                            <th>Sil</th>
                            <th>Düzenle</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody> 
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="@item.ImageUrl" style="width:50%; height:50%;" />
                                </td>
                                <td>
                                   @item.CarBrand
                                </td>
                                <td>
                                 @item.CarModel
                                </td>
                                <td>
                                  @item.CarKM
                                </td>
                                <td> 
                                    @item.CarDayPrice
                                </td> 
                                <td><a href="/Admin/RemoveCar/@item.ForRentCarID" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Admin/UpdateCar/@item.ForRentCarID" class="btn btn-dark">Düzenle</a></td>
                                <td><a href="#" class="btn btn-primary">Detaylar</a></td>
                            </tr>

                        }
                
                    </tbody>
                </table>  
                <br />
                <a href="#" class="btn btn-info">Yeni Araç Ekle</a>
            </div>
        </div>
    </div>
</div>

